<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>

  <name replace-wildcards="yes">Phext.io storage on %h</name>
  <service>
    <type>_phext_storage._tcp</type>
    <port>9801</port>
  </service>
</service-group>
